.home-text{
  font-size: clamp(2vw,10vw,25vh);
}
.d-grid{
  align-items: center;
  justify-content: center;
}
span{
    padding: 0rem clamp(1rem, 1vw, 2rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  color:aliceblue;
}
span:hover{
    background-color: white;
  color: black;
}